@import '../../styles/Product.module.scss';

.container{
    position: fixed;
    overflow: hidden;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    .wrapper{
        display: flex;
        position: fixed;
        overflow-y: scroll;
        left: 0;
        top: 0;
        justify-content: center;
        width: 100%;
        height: 100%;
        .overlay{
            position: sticky;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(black, 0.4);
        } 
        .content{
            max-width: 55rem;
            width: 90%;
            position: absolute;
            @include flexible();
            flex-direction: column;
            padding: 1.2rem;
            margin-top: 9vh;
            margin-bottom: 9vh;
            border-radius: 1rem;
            background-color: white;
            .modalClose{
                position: absolute;
                right: 1rem;
                top: 1rem;
            }
            .onPage{
                border: 0.15rem solid rgba(grey, 0.8);
                border-radius: 0.7rem;
                padding: 10px;
                &:hover{
                    @include border(1);
                }
            }
        } 
    }
}


    

.overlayEnter{
    opacity: 0;
}
.overlayEnterActive{
    opacity: 1;
    transition: opacity 600ms;
}
.overlayExit{
    opacity: 1;
} 
.overlayExitActive{
    opacity: 0;
    transition: opacity 600ms;
}


.contentEnter{
    opacity: 0;
    transform: scale(0.6);
}
.contentEnterActive{
    opacity: 1;
    transform: scale(1);
    transition: all 600ms;
}
.contentExit{
    opacity: 1;
    transform: scale(1);
} 
.contentExitActive{
    opacity: 0;
    transform: scale(0.6);
    transition: all 600ms;
}

