@mixin border($opacity: 0) {
    border: 0.15rem solid rgba(grey, $opacity);
    border-radius: 0.7rem;
}

@mixin flexible {
    display: flex;
    align-items: center;
    justify-content: center;
}

.products{
    @include flexible();
    flex-wrap: wrap;
    .cart{
        @include border();
        margin: 1rem;
        background-color: #f7f7f7;
        .image{
            border: none;
        }
        .name{
            border-top: 1px solid black;
            padding-top: 1rem;
            text-align: center;
        }
        &:hover{
            @include border(1);
        }
    }
}