
$border: 1px solid black;

.advantages{
    display: flex;
    flex-direction: column;
    align-items: center;
    .postBox{
        position: relative;
        width: 100%;
        min-height: 35vh;
        margin-bottom: 20px;
        .post{
            position: absolute;
            display: flex;
            justify-content: space-between;
            height: 100%;
            width: 100%;
           /* background: linear-gradient(170deg,
            rgba(255,255,255,1) 40%,
            rgba(231,231,231,1) 100%); */
            .image{
                position: relative;
                flex: 1 0 30%;
                margin: 0 2rem;
            }
            .data{
                display: flex;
                flex-direction: column;
                justify-content: center;
                flex: 1 1 60%;
                margin: 0 2rem;
                .name{
                    border: none;
                }
                .description{
                    border: none;
                }
            }
                    
            &.left{
                flex-direction: row-reverse;
               /* background: linear-gradient(190deg,
                        rgba(255,255,255,1) 40%,
                        rgba(231,231,231,0.4) 100%); */
                &::after{
                    left: -2px;
                    border-right: none;
                    border-left: $border;
                }
            }

            &::after{
                content: '';
                position: absolute;
                bottom: 0px;
                right: -2px;
                width: 92%;
                height: 72%;
                border-right: $border;
                border-bottom: $border;
            }
        }
        .placeHolder{
            position: relative;
            width: 100%;
            height: 100%;
        }  
        
    }     
}


.postEnterR{
    opacity: 0;
    transform: translateX(-90%);
}
.postEnterRActive{
    opacity: 1;
    transform: translateX(0);
    transition: all 1600ms;
}

.postEnterL{
    opacity: 0;
    transform: translateX(90%);
}
.postEnterLActive{
    opacity: 1;
    transform: translateX(0);
    transition: all 1600ms;
}
