
@mixin post () {
    max-width: 1240px;
    height: 100%;
    min-height: 25vh;
    display: flex;
    justify-content: space-between;
    .container{
        display: flex;
        flex-direction: column;
        flex-basis: 60%;
        .name{

        }
        .description{
    
        }
    }
}

.advantages

.postRight{
    @include post();
    .image{
        position: relative;
        flex-basis: 40%;
        span{
            img{
                object-fit: "cover";
            }
        }
    }
}

.postLeft{
    @include post();
    flex-direction: row-reverse;
    .image{
        position: relative;
        flex-basis: 40%;
        span{
            img{
                object-fit: "cover";
            }
        }
    }
}
