
@mixin border($opacity: 0) {
    border: 0.15rem solid rgba(grey, $opacity);
    border-radius: 0.7rem;
}

@mixin flexible {
    display: flex;
    align-items: center;
    justify-content: center;
}

.upper{
    @include flexible();
    margin-top: 1rem;
    .category {
        @include flexible();
        flex-grow: 1;
        .catLink{
            @include flexible();
            @include border(0);
            flex: 0 1 35%;
            flex-direction: column;
            margin: 2rem;
            @media (max-width: 700px) {
                flex: 0 1 45%;
                margin: 0;
            }
            .image-wrapper{
                position: relative;
                width: 50%;
                height: 8rem;
                @media (max-width: 700px) {
                    display: none;
                }
            }
            h2{
                text-align: center;
                flex: 0 0 40%;
            }
            &:hover{
                background-color: #f2f2f2;
            }
        }   
    }
    .catNow{
        width: 80%;
        text-align: center;
        padding-left: 0;
    }
    .backBut{
        @include border(0);
        position: relative;
        width: 40px;
        height: 40px;
        background-color: white;
        &:hover{
            @include border(1);
        }
    }
}

.products{
    @include flexible();
    flex-wrap: wrap;
    @media (max-width: 604px) {
        flex-direction: column;
    }
}

.cart{
    @include border(0);
    @include flexible();
    flex-direction: column;
    background-color: white;
    flex: 0 1 250px;
    min-width: 150px;
    min-height: 250px;
    max-height: 400px;
    height: 23vmax;
    margin: 1rem;
    padding: 0 0.5rem;
    @media (max-width: 604px) {
        flex: 0 1 40vmax;
        width: 35vmax;
        max-width: 350px;
    }
    @media (max-width: 420px) {
        flex: 0 1 350px;
        width: 80%;
    }
    &_image{
        flex: 1 1 100%;
        border: none;
        position: relative;
        height: 100%;
        width: 100%;
    }
    &_name{
        font-size: medium;
        width: 100%;
        text-align: center;
        padding-top: 0.5rem;
        border-top: 0.1rem solid rgba(grey, 0.8);
    }
    &:hover{
        @include border(1);
       // transform: scale(1.03);
       // transition: all 0.4s;
    }
} 

.onPage{
    @include border(1);
    background-color: white;
    padding: 10px;
    font-family: 'Rubik', sans-serif;
    font-size: 15px;
    &:hover{
        @include border(1);
        background-color: #f7f7f7;
    }
}





