//@import 'product.module.scss';

@mixin border($opacity: 0) {
    border: 0.15rem solid rgba(grey, $opacity);
    border-radius: 0.7rem;
}

@mixin flexible {
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper{
    .upper{
        @include flexible();
        margin-top: 1rem;
        .category {
            @include flexible();
            flex-grow: 1;
            .catLink{
                @include flexible();
                @include border(0);
                flex: 0 1 35%;
                margin: 2rem;
                .image-wrapper{
                    position: relative;
                    width: 50%;
                    height: 8rem;
                }
                p{
                    text-align: center;
                    flex: 0 0 40%;
                }
                &:hover{
                    background-color: #f2f2f2;
                }
            }   
        }
        .catNow{

        }
        .backBut{
            @include border(0);
            width: 8rem;
            height: 3rem;
            &:hover{
                @include border(1);
            }
        }
    }
    
    .products{
        @include flexible();
       justify-content: start;
        flex-wrap: wrap;
        .product{
            @include border(0);
            margin: 1rem;
            &:hover{
                @include border(1);
            }
        }
    }
}



