.info{
    margin: 20px auto 0 auto;
    text-align: center;
    width: 80%;
    background-color: #ececec;
    border: 0px solid #7a7a7a;
    border-radius: 15px;
    @media (max-width: 900px) {
        width: 100%;
        text-align: start;
    }
    .text{
        padding: 2vh 5vw;
    }
}