
.navbar {
    display: flex;
    align-items: center;
    font-size: 10px;
    .logoImg {
        
    }
    .numbers{

    }
    .navLinks{
        width: 100%;
        ul{
            display: flex;
            li{
                
            }
        }
    }
}

.footer{
    font-size: 10px;
}
