$border-width: 0.1rem;

@mixin container() {
    max-width: 80rem;
    margin-left: auto;
    margin-right: auto;
}

.header {
    display: block;
    position: sticky;
    background-color: rgba(white, 1);
    left: 0;
    right: 0;
    top: 0;
    border-bottom: 1px solid grey;
    z-index: 10;
    .nav{
        display: flex;
        align-items: stretch;
        @include container();
        .logo {
            margin: 0.5rem 3rem 0.5rem 0;
            img{
                transition: all 0.3s ease-in-out;   
                &:hover{
                    transform: scale(1.1);
                }
            }
        }
        
        .navLinks{
            display: flex;
            flex-grow: 1;
            align-items: center;
            @extend .logo;
            .pageLink{
                position: relative;
                display: flex;
                align-items: center;
                height: 70%;
                padding: 0 1vw;
                margin: 0 0.2rem;
                &:hover{
                    border: 0.1rem solid rgba(grey, 0.8);
                    border-radius: 0.2rem;
                    margin: 0 0.1rem;
                }
            }
        }
    }
}


.content{
    display: flex;
    flex-direction: column;
    .container{
        @include container();
    }
}

.footer{
    font-size: 10px;
}
