
@mixin container() {
    max-width: 80rem;
    margin-left: auto;
    margin-right: auto;
}

.header {
    display: block;
    position: sticky;
    left: 0;
    right: 0;
    top: 0;
    .nav{
        display: flex;
        align-items: stretch;
        @include container();
        .logo {
            margin: 0.5rem 3rem 0.5rem 0;
                a{
                    &:hover{
                        span{
                            img{
                                transform: scale(1.2);
                                transition: all 0.3s linear;
                            }
                        }
                    } 
                }
        }
        
        .navLinks{
            display: flex;
            flex-grow: 1;
            align-items: center;
            @extend .logo;
            .pageLink{
                display: flex;
                align-items: center;
                height: 70%;
                padding: 0 2vw;
                &:hover{
                    background-color: rgba($color: #ede47b, $alpha: 0.2);
                    border: 0.1rem solid rgba($color: grey, $alpha: 0.8);
                    border-radius: 1.5rem;
                    margin: -0.1rem;
                }
            }
        }
    }
}


.content{
    display: flex;
    flex-direction: column;
    .container{
        @include container();
    }
}

.footer{
    font-size: 10px;
}
