
.overlay{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(black, 0.4);
    z-index: 5;
    transform: scale(0);
    .modal{
        padding: 1.2rem;
        border-radius: 1rem;
        background-color: white;
        .modalClose{
            position: absolute;
            right: 1rem;
            top: -1rem;
        }
        .cart{
            .image{
                border: none;
            }
            .name{
                text-align: center;
            }
            .desc{
                border: none;
            }
            .price{
                border: none;
            }
        }
    }
    
    &.show{
        transform: scale(1);
    }
}
