@mixin border($opacity: 0) {
    border: 0.15rem solid rgba(grey, $opacity);
    border-radius: 0.7rem;
}

@mixin flexible {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin listProps($direction: column, $wrap: nowrap, $content: center) {
    .prop_name{
        margin: 12px 0;
    }
    .props{
        @include flexible();
        list-style-type: none;
        justify-content: $content;
        flex-direction: $direction;
        flex-wrap: $wrap;
        text-align: center;
        overflow-y: auto;
        width: 100%;
        margin: 0;
        padding: 0;
        @media (max-width: 700px) {
            flex-wrap: nowrap;
            flex-direction: column;
        }
        .prop{
            display: inline-block;
            min-width: 130px;
            width: 45%;
            padding: 0;
            margin: 3px 2%;  
            @media (max-width: 700px) {
                @include flexible();
                justify-content: space-around;
                @include border(1);
                width: 70%;
            }
            .butProp{
                font-family: 'Rubik';
                font-size: 15px;
                background-color: white;
                @include border(0);
                padding: 10px 10px;
                &:hover{
                    @include border(1);
                    background-color: #f7f7f7;
                    cursor: pointer;
                } 
                
            }
            .butActive{
                @include border(1);
                background-color: #f7f7f7;
                @media (max-width: 700px) {
                    @include border(0);
                    background-color: white;
                    padding: 10px 0;
                }
            } 
            .selectImage{
                position: relative;
                width: 20%;
                height: 100%;
            }
        }
    }
}

.cart{
    display: grid;
    width: 90%;
    grid-template-columns: 0.5fr 0.45fr;
    grid-template-rows: auto minmax(200px, min-content) minmax(100px, min-content) minmax(50px, min-content) auto;
    row-gap: 0px;
    column-gap: 30px;
    margin: 1rem auto;
    @media (max-width: 700px) {
        grid-template-columns: 0.5fr 0.5fr;
        grid-template-rows: auto minmax(200px, 40vh) minmax(100px, min-content) auto auto;
    }
    .name{
        text-align: center;
        grid-column: 1/ span 2;
        grid-row: 1/ auto;
        margin: 0 0 20px 0;
    }
    .image{
        position: relative;
        @include flexible();
        margin: 0 20px;
        grid-column: 1/ auto;
        grid-row: 2/ span 2;
        @media (max-width: 700px) {
            grid-column: 1/ span 2;
            grid-row: 2/ auto;
        }
    }
    .sizes{
        @include flexible();
        @include listProps(column, nowrap, start);
        margin-top: 15px;
        flex-direction: column;
        grid-column: 2/ auto;
        grid-row: 2/ auto;
        max-height: 350px;
        @media (max-width: 700px) {
            grid-column: 1/ auto;
            grid-row: 3/ auto;
        }
    }
    .colors{
        @include flexible();
        @include listProps(row, wrap, center);
        grid-column: 2/ auto;
        grid-row: 3/ auto;
        margin-top: 15px;
        flex-direction: column;
        @media (max-width: 700px) {
            grid-column: 2/ auto;
            grid-row: 3/ auto;
        }
    }  
    .price{
        grid-column: 2/ auto;
        grid-row: 4/ auto;
        width: 70%;
        justify-self: center;
        text-align: center;
        margin: 20px 0;
        padding: 15px 30px;
        @include border(1);
        @media (max-width: 700px) {
            grid-column: 1/ span 2;
            grid-row: 4/ auto;
        }
    }
    .desc{
        grid-column: 1/ span 2;
        grid-row: 5/ auto;
    }
}

.backBut{
    @include border(0);
    margin: 2rem auto 0 80%;
    width: 8rem;
    height: 3rem;
    &:hover{
        @include border(1);
    }
}

.propsModal{
    @include flexible();
    @include listProps(column, nowrap, start);
    flex-direction: column;
    max-height: 70vh;
    width: 70%;
}